<h2>Home</h2>

<ul>
  <li><%= link_to('Product', extole_product_path) %></li>
  <li><%= link_to('Registration', extole_registration_path) %></li>
  <li><%= link_to('Order Confirmation', extole_order_confirmation_path) %></li>
  <li><%= link_to('Share', extole_share_path) %></li>
  <li><%= link_to('Conversion', extole_conversion_path) %></li>
  <li><%= link_to('Promotion', extole_promotion_path) %></li>
  <li><%= link_to('Promotion Subscription', extole_promotion_subscription_path) %></li>
</ul>
