<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Device Independent + Extole</title>
  <%= stylesheet_link_tag    'extole/application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body id="extole">

<header id="header">
  <nav>
    <h1><%= link_to('Extole Demo', extole_root_path) %></h1>
  </nav>
<span id="extole_zone_global_header"></span>
<span id="extole_zone_my_account"></span>
</header>

<div class="content">
  <%= yield %>
</div>

<footer id="footer" role="contentinfo">
  <span id="extole_zone_global_footer"></span>
</footer>

<script type="text/javascript" src="https://origin.extole.io/nateklaiber/core.js" async></script>

<script type="text/javascript">
  /* Start Extole */
  (function(c,e,k,l,a){c[e]=c[e]||{};for(c[e].q=c[e].q||[];a<l.length;)k(l[a++],c[e])})(window,"extole",function(c,e){e[c]=e[c]||function(){e.q.push([c,arguments])}},["createZone"],0);
  /* End Extole */

   extole.createZone({
     name: 'global_header',
     element_id: extole_zone_global_header
  });

   extole.createZone({
     name: 'global_footer',
     element_id: extole_zone_global_footer
  });

   extole.createZone({
     name: 'my_account',
     element_id: extole_zone_my_account
  });

extole.createZone({
     name: 'my_account',
     element_id: extole_zone_my_account,
     data: {
       "first_name":"Extole",
       "last_name":"Advocate",
       "email":"extole-advocate@theklaibers.com",
       "partner_user_id": "0123456",
     }
  });
</script>
<%= yield(:extole_javascript) %>

</body>
</html>
